* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: rgb(247, 244, 244);
}

/* ----------------------------- NAVIGACIJA ----------------------------- */

.navigacija {
    top: 10px;
    border-radius: 3px;
    transition: all .7s;
}

.navbar .logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar .nav-item .active::before,
.navbar .nav-item .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    transition: 1s;
    background-color: rgb(204, 133, 0);
}
.navbar .nav-item .active::before,
.navbar .nav-item .nav-link:hover:after {
    width: 100%;
}

@media (max-width: 992px) {
    .navbar .nav-item .active::before,
    .navbar .nav-item .nav-link:hover:after {
        width: 0;
    }
    .navbar  .nav-item .active,
     .navbar .nav-link:hover {
        color: rgb(204, 133, 0) !important;
    }
    .navbar .prijava {
        margin-left: 0 !important;
    }
    .navbar .user {
        margin-left: 0 !important;
    }
}

.navbar-scroll {
    position: fixed;
    top: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.6);
}

.navbar.active {
    background: rgba(0, 0, 0, 0.8);
    top: 0;
}
.navbar .prijava {
    border-radius: 7px;
    border: 2px solid rgb(255, 255, 255);
    transition: .6s;
    margin-left: 40px;
}
.navbar .prijava:hover {
    border: 2px solid rgb(8, 73, 8);
    background: rgb(8, 73, 8);
}

.logout {
    transition: .6s;
}

.logout:hover {
    color: red !important;
}


.naslov {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../slike/heading.jfif);
    width: 100%;
    height: 50vh;
    background-size: cover;
    position: relative;
}

.naslov h1 {
    position: absolute;
    top: calc(50% + 68px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(204, 133, 0);
    font-weight: bolder;
}


/* ----------------------------- MENI ----------------------------- */

.meni {
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.meni-ponuda {
    border-radius: 0 0 7px 7px;
    padding-bottom: 40px;
}
.meni .meni-header {
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid rgb(12, 12, 12);
}
.meni .meni-header .gif img {
    width: 60px;
    height: 60px;
    color: white;
}
.meni .meni-header ul li a {
    transition: .7s;
    color: black;
}
.meni .meni-header ul li .active,
.meni .meni-header ul li a:hover {
    color: rgb(241, 159, 7);
}

.meni .meni-ponuda .ponuda-text {
    text-align: center;
    color: rgb(241, 159, 7);
    padding: 10px 0;
    margin-top: 25px;
    margin-bottom: 10px;
}
.meni .meni-ponuda .ponuda-text .line1, .line2 {
    width: 100px;
    height: 2px;
    background-color: rgb(143,140,140);
    margin: 2px 0;
}
.meni .meni-ponuda .ponuda-text .simbol img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}
.meni .meni-ponuda .box {
    width: 210px;
    min-height: 330px;
    background-color: rgb(247, 245, 245);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border: 1px solid rgb(207, 207, 207);
}
.meni .meni-ponuda .box:hover {
    transform: translateY(-5px);
}
.meni .meni-ponuda .box .slika {
    min-height: 180px;
}
.ponuda .box img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.ponuda .box .text {
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.ponuda .box .text h6 {
    color: rgb(165, 69, 0);
    font-weight: bold;
}


/* ----------------------------- FOOTER ----------------------------- */

footer {
    background-color: rgb(12, 12, 12);
}
footer .ikone i {
    transition: .5s;
}
footer .ikone i:hover {
    color: rgb(204, 133, 0);
}